#gameField {
  border: 2px solid black;
}

.game-box label {
  margin-left: 50px;
}

.page-box {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  
}

.game-settings-box {
  margin-left: 25px;
  
}